*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border-color: black;
}body{
	background-color: gray;
}

.wallet-container{
  /*background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/coin1.jpg) no-repeat;
  background: cover;*/
  height: 100vh;
  width: 340px;
    font-size: 15px;
  height: 100vh;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  background: #edcb76;

  
  }.head{
    
    display: flex;
    justify-content: center;
    padding-top: 25px;
    
    width: 300px;
    margin: 20px;
    font-size: 25px;
    }.head h3{

      line-height: 50px;
      border-bottom: 1px solid #FF9C2A;
      font: bold;
      color: #FF9C2A;

      
    }
  
  .form-group{
  position: relative;
  background: #9b6e2e;
    color: #3f2603;

  
  margin: 40px 20px 20px 20px;

}.form-control{

 border: none;
   border-radius: 5px; 
  background: #9b6e2e;
   
  padding: 10px;
color: #3f2603;
  
} 

.form-label{
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: text;
  color: #000;
  font-size: 14px;
  transition: top 200ms ease-in,
   left 200ms ease-in, 
  font-size 200ms ease-in;
}.form-control:focus ~ .form-label,
.form-control:not(:placeholder-shown).form-control:not(:focus)
~.form-label{
  top: -21px;
  left: 20px;
  font-size: 18px;
  background-color:transparent;
  cursor: text;
  z-index: 10;
  color: #FF9C2A; 


}.form-control:focus{
  border-bottom: 1px solid black;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: #3f2603;
 background: #9b6e2e;
   }input{
   background: #9b6e2e;
   }input:focus{
	outline-offset: unset;
	outline: none;
	outline-color: #fff;

   background: #9b6e2e;
   }
.conter .text{
  color: #000;
  padding: 10px 20px;

}

.lbutton
 {
  position: relative;
  padding: 20px 20px;
  display: flex;
  justify-content: center;

}

.lbutton .lbtn{
  width: 150px;
  color:#000;
  border-radius: 5px;
  outline: none;
  
  border: 2px solid #000;
  background-color: #FF9C2A;
}.form2 .form-group{
  margin-top: 20px;
}
.drop{
  margin-top: 40px;
} 
.show-btn{
  background:transparent;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 10px;
  color: #000;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid #000;
  margin-top: -40px;
  text-align: center;
  margin-left: 90px;
  

}


input[type="checkbox"]{
  display: none;
}.conter{
  display: none;
  background: #fff;
  width: 300px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  margin-left: 20px;
  margin-top: -40px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}.show-btn, .conter{
  position: absolute;
  
}
#show:checked ~ .conter{
  display: block;

  
}
.conter .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
  color: #000;
}

.conter .close-btn:hover{
  color: red;
}.lbutton .btn-block{
  background-color: #1c1f22;
  width: 100%;
  color: #FF9C2A;
  font-size: 25px;
}.lbutton .sbtn{
  width: 300px;
  padding: 10px;
  background-color: #FF9C2A;
  color: #000;
}